html,
body {
  font-family: 'Artico', Helvetica, sans-serif;
  background: $white;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: $grey;
  -webkit-font-smoothing: antialiased !important;

  .tl-edges {
    overflow: hidden;
  }
}

.btn {
  padding: .75rem 1rem;
  display: inline-block;
  @include btn();
  transition: all .5 ease;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: $grey;
  border: 1px $grey solid;
  box-sizing: border-box;
}

.btn.no-border {
  border: none;
  padding: 12px 0 12px 14px;
  color: $greyTransparent3;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.scroll-indicator {
  // grid-column: 2;
  grid-row: 1 / span 2;
  font-size: .8em;
  @include subTitle();
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  bottom: -30px;
  transform: translate(-50%, -50%);

  @media (max-width: 768px) {
    display: none;
  }

  &.hide {
    display: none;
  }

  .indicator {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background: $whiteTransparentBG;
    height: 35px;
    margin-top: 11px;

    span {
      position: absolute;
      height: 60%;
      width: 100%;
      background: $white;
      left: 0px;
      top: 0px;
      margin: 0px;
      animation: scroll 1s infinite linear;

      @keyframes scroll {
        0% {
          transform: translateY(0%)
        }

        50% {
          transform: translateY(100%)
        }

        100% {
          transform: translateY(0%)
        }
      }
    }
  }
}

.page__mask {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: $white;
  z-index: 9;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}