html,
body {
  font-family: 'Artico', Helvetica, sans-serif;
  background: $white;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: $grey;
  -webkit-font-smoothing: antialiased !important;

  header {
    position: fixed;
    padding: 3.5rem;
    z-index: 10;

    .logo {
      height: 4.5em;
      user-select: none;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: calc(100vh);
  width: 100vw;
  overflow: hidden;

  .overview,
  .projects {
    width: 50vw;
  }

  .overview {
    display: flex;
    flex-direction: column;
    padding: 3.5rem;

    .intro {
      align-items: middle;
      margin: auto 0;

      h1 {
        margin: 0 0 .5em 0;
      }

      p {
        max-width: 25vw;
      }
    }

    .social-links {
      a {
        margin: 0 1rem 0 0;

        img {
          height: 24px;
        }
      }
    }
  }



}

.btn {
  color: $grey;
  padding: 12px 14px;
  display: inline-block;
  margin-top: 12px;
  @include btn();
  transition: all .5 ease;
  font-size: .9em;
}

.btn.no-border {
  border: none;
  padding: 12px 0 12px 14px;
  color: $greyTransparent3;
}

.project-img {
  position: absolute;
  right: -12%;

  top: 50%;
  margin-top: -38vh;

  img {
    height: 75vh;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}