// @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;800&display=swap');

$white: #f2f4f5;
$black: #121215;
$grey: #44434c;
$orange: #f27405;
$whiteTransparent: rgba(242, 244, 245, .7);
$greyTransparent: rgba(68, 67, 76, .3);
$whiteTransparentBG: rgba(242, 244, 245, .4);
$greyTransparent2: rgba(68, 67, 76, .1);
$greyTransparent3: rgba(68, 67, 76, .6);

@font-face {
  font-family: "Artico";
  src: url("../fonts/Artico.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Artico Medium";
  src: url("../fonts/Artico-Medium.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Artico Bold";
  src: url("../fonts/Artico-Bold.woff") format("woff");
  font-weight: 700;
}

$regular: 'Artico';
$medium: 'Artico Medium';
$bold: 'Artico Bold';

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: $bold;
}

h1  {
  font-size: 3.5rem;
  line-height: 3.8rem;
  letter-spacing: -.7px;

  @media (min-width: 2160px) {
    font-size: 4.4em;
    line-height: 4.7rem;
  }

  @media (max-width: 768px) {
    font-size: 2.7rem;
    line-height: 3rem;
    letter-spacing: -.7px;
  }
}

h2 {
  font-size: 2.5em;
  line-height: 2.5rem;
  margin: 0 24px 0 0;
}

h3 {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  line-height: 1.4em;
}

@mixin title {
  font-family: $bold;
  font-weight: 700;
}

@mixin subTitle {
  font-family: $medium;
  font-weight: 600;
}

@mixin btn {
  font-family: $medium;
  font-weight: 600;
}

@mixin count {
  font-family: $bold;
  font-weight: 700;
  font-size: 5em;
}